*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.board {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:last-child {
    border-right: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:last-child {
    border-bottom: none;
}

.box:first-child,
.box:nth-child(4),
.box:nth-child(7) {
    border-left: none;
}

.box.x,
.box.o {
    cursor: not-allowed;
}

.box.x::before {
    content: '';
    position: absolute;
    height: 90%;
    width: 20%;
    transform: rotate(45deg);
    background-color: black;
}

.box.x::after {
    content: '';
    position: absolute;
    height: 90%;
    width: 20%;
    transform: rotate(-45deg);
    background-color: black;
}

.box.o::before {
    content: '';
    position: absolute;
    height: 90%;
    width: 90%;
    background-color: black;
    border-radius: 50%;
}

.box.o::after {
    content: '';
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 50%;
}


.board.x .box:not(.x):not(.o)::after {
    content: '';
    position: absolute;
    height: 90%;
    width: 20%;
    transform: rotate(-45deg);
}

.board.x .box:not(.x):not(.o)::before {
    content: '';
    position: absolute;
    height: 90%;
    width: 20%;
    transform: rotate(45deg);
}
.board.o .box:not(.x):not(.o)::after {
    content: '';
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 50%;
}

.board.o .box:not(.x):not(.o)::before {
    content: '';
    position: absolute;
    height: 90%;
    width: 90%;
    border-radius: 50%;
}

.board.x .box:not(.x):not(.o):hover::after,
.board.x .box:not(.x):not(.o):hover::before,
.board.o .box:not(.x):not(.o):hover::before
{
    background-color: lightgrey;
}

.game-over-popup{
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show{
    display: flex;
}

.popup-message{
    color: white;
    font-size: 2.1rem;
    padding: 0.3rem;
}
.game-over-popup .reset-btn{
    font-size: 1.4rem;
    padding: 0.3rem 0.8rem;
    background-color: white;
    border: 1px solid black;
}
.game-over-popup .reset-btn:hover{
    background-color: rgb(189, 189, 189);
}